@import "colors";
@import "mixins";
@import "header";

//page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $teambitBrown;
}

body {
  color: $teambitBrown;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  .jumbotron {
    background-color: $teambitWhite;
    height: 510px;
    margin-top: 50px;
    .jumbotron-container {
      @include container();
      display: flex;
      .jumbotron-text {
        width: 50%;
        h1 {
          @include h1();
          margin-bottom: 30px;
        }
        p {
          @include pJumbotron();
          margin-bottom: 40px;
        }
        button {
          @include mainButton();
        }
        span {
          font-size: 13px;
          color: #bdb5af;
          margin: 0px 20px 0px 20px;
        }
        .buttons {
          margin-bottom: 20px;
        }
        .menu-link {
          font-size: 14px;
          color: $teambitBrown;
          i {
            margin-left: 10px;
          }
        }
      }
      .jumbotron-img {
        height: 100%;
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
  }
}
